.idea

# dependencies
/node_modules

# misc
.DS_Store

.env

tmp
*.log*

.eslintcache

.babelrc
.editorconfig
.eslintignore
.eslintrc.js
.prettierrc.js
rollup.config.js
tsconfig.json
.nvmrc

src
img/
docs/
