@media (prefers-color-scheme: dark) {
  body {
    background: rgb(34, 39, 46);
    color: #fff;
  }

  figure code {
    background: rgba(28, 33, 40, 0.5);
  }

  a {
    color: rgb(141, 219, 140);
  }
}

@media (prefers-color-scheme: light) {
  figure code {
    background: khaki;
  }

  a {
    color: green;
  }
}

main {
  max-width: max(90vw, 960px);
  margin: 0 auto;
}

img, svg {
  display: block;
  margin: 25px 0;
}

figure {
  padding: 5px 0 25px;
  border-bottom: 1px solid #ccc;
}

figure:last-child {
  border-bottom: none;
}

figure code {
  display: block;
  line-height: 30px;
  padding: 5px;
  border-radius: 3px;
}

p {
  line-height: 25px;
}

.green path {
  fill: green;
}

.red :is(path, circle) {
  stroke: red;
}
